{% extends 'catalog/home_page.html' %}

{% block content %}
<div class="container">
        <form class="row mt-4 mb-4" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                          {% if object %}
                            Профиль Пользователя
                             {% else %}
                            Форма регистрации на сайте
                            {% endif %}
                        </h4>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Зарегистрировать
                            {% endif %}
                        </button>
                        {% if object %}
                        <p ><a href="{% url 'users:password-change' %}" class="btn mt-4 btn-danger">Сменить пароль</a></p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}